.bg_color{
background-color: #5356FF !important;
}
.font_color{
    color: #DFF5FF !important;
}
.button_color{
    background-color: #378CE7 !important;
}
.news-just{
    text-align: justify !important;
}